.text{
    width: 600px;
    margin: 100px auto 0;
    font-weight: bold;
    font-size: var(--font-size-header);
    line-height: 1.7;
    color: var(--color-yellow);
    /*text-shadow: 0 0 2px var(--color-yellow);*/

    -webkit-text-stroke-color: var(--color-yellow);
    -webkit-text-stroke-width: .5px;
    -webkit-text-fill-color: transparent;
}
