.container {
    position: relative;
}

.photo {
    width: 100%;
    border-radius: var(--border-radius-medium);
    object-fit: cover;
    object-position: center center;
}

.favorite {
    width: 120px;
    position: absolute;
    top: -50px;
    right: -20px;
    cursor: pointer;
    filter: drop-shadow(0 0 2px #000);
}

.favorite:active {
    transform: translateY(2px);
}
