.wrapper__input{
    --border-radius: 3px;
    --border: 3px;
    --clear-width: 20px;
}
.wrapper__input{
    position: relative;
    display: inline-flex;
}
.input {
    min-width: 300px;
    padding: 10px 15px;
    padding-right: calc(var(--clear-width) + 15px);
    border: var(--border-radius) solid var(--color-lightgrey);
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    font-family: var(--font-family-main);
    outline: none;
}

.input:focus {
    border: var(--border-radius) solid var(--color-blue);
}

.clear{
    position: absolute;
    top: 4px;
    right: 10px;
    width: var(--clear-width);
    height: calc(100% - var(--border)*2);
    object-fit: contain;
    object-position: center center;
    cursor: pointer;
    transition: .5s;
    opacity: .4;
}
.clear__disabled {
    opacity: .2;
}
