:root {
    --color-dark-grey: #10100e;
    --color-white: #fff;
    --color-black: #000;

    --spacing-medium: 20px;

    --font-famaly-main: sans-serif;

    --border-radius-small: 3px;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-dark-grey);
    font-family: var(--font-famaly-main);
}
