.wrapper{
    max-width: var(--width-max);
    margin: auto;
    padding: var(--spacing-large);
}

@media screen and (max-width: 1400px){
    .wrapper {
        padding: var(--spacing-large);
    }
    }
